@import './mixins.scss';
@import './variables.scss';

.section-bank {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-bottom: 20px; 
    p {
        max-width: 1200px;
        @include media-query(medium) {
            max-width: 320px;
            font-size: 14px;
        }
    }
    img {
        width: 100%;
        @include media-query(medium) {
            width: 95%;
        }
    }
}

.images-bank {
    display: flex;
    justify-content: center;
    overflow: hidden;
    max-width: 1400px;
    gap: 30px;
    margin-left: 10px;
    margin-right: 10px;
    @include media-query(medium) {
        display: flex;
        flex-direction: column;
            align-items: center;
        }
}

.img-bank {
    img{
        width: 100%;
        border-radius: 10px;
    }
}

.edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    gap: 20px;
    img{
        width: 65%;
        border-radius: 10px;
        @include media-query(medium) {
                margin-left: 10px;
                margin-right: 10px;
                width: 65%;
        }
    }
}

.addimage {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1400px;
    gap: 20px;
    img{
        width: 90%;
        border-radius: 10px;
        @include media-query(medium) {
            width: 95%;
        }
    }
}


h1 {
    @include media-query(medium) {
        font-size: 22px;
    }
}

h2 {
    @include media-query(medium) {
        font-size: 18px;
    }
}