@import './mixins.scss';
@import './variables.scss';

html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }

  h3{
    margin-top: 12px;
    margin-bottom: 12px;
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-style: italic;
    font-size: 29px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    @include media-query(medium) {
        font-size: 18px;
    }
}
  
  body {
    margin: 0;
  }
  
  #root {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .main {
    background-color: rgb(128, 172, 175);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .main-white {
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }