.disclaimer-container {
    display: flex;
    justify-content: center;
}

.disclaimer {
    width: 85%;
    font-size: 17px;
    font-weight: 200;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}