@import './mixins.scss';
@import './variables.scss';

.container {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
    max-width: 1400px;
    background-color: rgb(204, 247, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 50px;
    @include media-query(medium) {
        margin: 20px;
    }
}

.project_card {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    height: 350px;
    border-radius: 30px;
    @include media-query(medium) {
        flex-direction: column;
        height: auto;
    }
    img{
        height: 90%;
        margin-right: 10px;
        margin-left: 10px;
        border-radius: 25px;
        max-width: 70%;
        object-fit: cover;
        @include media-query(medium) {
            height: auto;
            width: 85%;
            max-width: none;
            margin-top: 15px;
        }
    }
}

.project_card_thae {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    height: 350px;
    border-radius: 30px;
    @include media-query(medium) {
        flex-direction: column-reverse;
        height: auto;
    }
    img{
        height: 90%;
        margin-right: 10px;
        margin-left: 10px;
        border-radius: 25px;
        max-width: 70%;
        object-fit: cover;
        @include media-query(medium) {
            height: auto;
            width: 85%;
            max-width: none;
            margin-top: 15px;
        }
    }
}

.summary {
    margin-top: 0;
    overflow: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    height: 90%;
    margin: 15px;
    @include media-query(medium) {
        width: 85%;
        h1 {
            font-size: 18px;
        }
    }
    p{
        margin: auto;
        display: flex;
        max-width: 60%;
        text-align: justify;
        padding-left: 20px;
        padding-right: 20px;
        overflow-y: auto;
        max-height: 80%;
        margin-bottom: 20px;
        @include media-query(medium) {
            font-size: 12px;
            padding: 10;
            max-width: none;
        }
    }
}

a {
    text-decoration: none;
    color: black;
}